# Test data folder
testData/*
!testData/
!testData/rptmsk.out
!testData/regions.bed
!testData/MEI.fa
!testData/human_TE.fa
!testData/Homo_sapiens_DFAM.fa
!testData/chr21_tiny.fa
!testData/chr21_tiny.fa.fai

# Build
build
TEvarSim.egg-info